.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
/Results/*.RData
/Cohorts/*.json
/Cohorts/*.zip
/Cohorts/*.csv
/Phoebe/*.csv
/Old/*
.gitignore
renv.lock
*.rda
*.json
Cohorts/newHPV/Phoebe_rec.csv
*.dcf
1_StudyCode/Phoebe/concept_recommended.csv
1_StudyCode/Results/*.csv
1_StudyCode/Results/*.zip
2_Reporting/data/results_CPRD GOLD 100k/*.csv
